body{
    background-color: rgb(34, 3, 83);
}

/* .bg-succesz{
    background-color: rgb(214, 95, 194);
} */

.slider{
width: 500px;
height: 300px;
overflow: hidden;
position: relative;
}

#sliders{
    display: flex;
    width: calc(500px * 2);
    transition: transform 1s ease-in-out;
}

#sliders{
    width: 500px;
    height: 300px;
    flex-shrink: 0;
}
.hover-rise:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px rgba(0,0,0,0.2);
}

/* .accordion {
  --bs-accordion-border-color: transparent !important;
} */

/* #accordion-bg-solid{
    background-color: pink;
} */


.accordion, 
.accordion-item,
.accordion-button,
.accordion-body {
  width: 100%;
  box-sizing: border-box;
}

.accordion .accordion-body ul li a {
  display: block;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





/* buat background content  */
.bg-genshin{
    background-image: url('images/content/bg-2.jpeg');
}
.color-text-genshin{
    color: rgb(255, 17, 223);
}